header {
    width: 100%;
    height: 150px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 100px;
}

header .logo img {
    width: 100%;
}


.nav-menu {
    width: 512px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem; 
    font-weight: 500;
}
.arrow-down {
    margin-left: 5px;
}

/* CTA MENU STYLE */

.cta-menu {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cta-menu img {
    width: 24px;
}
.cta-menu .bag {
    position: relative;
}

.cta-menu .bag::after {
    content: '8';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #39DB4A;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    transform: translate(50%, -50%);
    z-index: 1;

}
.cta-menu button {
    background-color: #39DB4A;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 40px;
    cursor: pointer;

    font-size: 20px;
    font-weight: 500;
    color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}